<!DOCTYPE html>
<html>
	<body>
		<div>
					<!-- 引入首页链接 -->
			<a href="#" class="tip-bottom">项目</a> <a href="#" class="currentPage"></a>
		</div>
		<div id="content_interface">
				<table class="table table-bordered data-table">
						<thead>
							<tr>
								<th width="3%"><input type="checkbox" name="allchecked" id="all" onclick="allcheck()"></th>
								<th width="5%">接口名称</th>
								<th width="5%">请求方式</th>
								<th width="18%">请求地址</th>
								<th width="2%">Token</th>
								<th width="5%">页面</th>
								<th width="4%">来源</th>
								<!--th width="3%">操作</th-->
							</tr>
						</thead>
						<tbody class="data">
							<tr>
								<td><input type="checkbox" name="choose" id=0></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<!--td align="center" valign="middle" width="65px">
										<div class="btn-group">
												<button data-toggle="dropdown" class="btn btn-info dropdown-toggle"> 操作 <span class="caret"></span></button>
														<ul class="dropdown-menu">
																<li><a
																	href="#" class="checkout-btn" onclick="check()">查看</a>
																</li>
																<li><a href="#" class="del-btn" onclick="del()">删除</a></li>
														</ul>
											</div>
									</td-->
								</tr>						
						</tbody>
				</table>
		</div>
	</body>
</html>